<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>趣味の入力用フォーム</title>
</head>

<body>
    <form action="/hobby">
        名前を入力してください<input type="text" name="name"><br>
        <p>趣味を選択してください（複数回答可）</p>
        <input type="checkbox" name="hobbys" value="スポーツ">スポーツ<br>
        <input type="checkbox" name="hobbys" value="読書">読書<br>
        <input type="checkbox" name="hobbys" value="アウトドア">アウトドア<br>
        <input type="checkbox" name="hobbys" value="映画鑑賞">映画鑑賞<br>
        <input type="checkbox" name="hobbys" value="プログラミング">プログラミング<br>
        <input type="submit" value="送信">
    </form>
</body>

</html>