/* タイプセレクタ */
p {
    color: red;
}

/* ユニバーサルセレクタ */
* {
    color: blue;
}

/* クラスセレクタ */
.example {
    color: yellow;
}

/* IDセレクタ */
#unique {
    color: green;
}

/* 属性セレクタ */
input[type="text"] {
    color: pink;
}